$accentClr: #f54c3d;

nav {
	background-color: $accentClr;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px 15px 0 0;
	font-weight: 700;
	color: white;

	img {
		width: 25px;
		margin-right: 10px;
		border: 2px solid black;
		border-radius: 50%;
		filter: invert(100%);
	}
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: white;
}

.card {
	width: 75%;
	height: 400px;
	padding: 0;
	margin-top: 100px;
	display: flex;
	align-items: center;
	justify-content: left;
}

.card-shot {
	height: 100%;
	width: 27%;
	border-radius: 10px;
}

.card-info {
	width: 66.66%;
	height: 100%;
	padding: 20px 20px;
}

.card-info-loc {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	img {
		width: 20px;
	}
	p {
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: 300;
		margin-left: 10px;
		margin-right: 30px;
	}

	a,
	a:visited {
		color: grey;
	}
}

.card-info-about {
	margin-top: -20px;
	overflow: hidden;

	.card-info-about-date {
		font-weight: 600;
		font-size: 16px;
	}

	.card-info-about-p {
		font-weight: 400;
	}
}
